<h2>{{recipeObj.name|uppercase}}</h2>
<div><label>Name:<input [(ngModel)]="recipeObj.name" placeholder="name"></label></div>
<div><img width="300" alt="Angular Logo" src="http://images.media-allrecipes.com/userphotos/960x960/6183594.jpg"></div>
